*{
	font-family: Georgia, "Times New Roman";
}

::selection {
	color: white;
	background-color: #002147;
}

h1{
	color: #002147;
	font-size: 60px;
	font-variant: small-caps;
}

header{
	border: none;
	overflow: auto;
}

hr{
	color: #002147;
}

#my_picture{
	float: right;
	padding: 45px 30px 10px 30px;
}

p{
	font-size: 20px;
}

h2{
	border-left: 10px solid rgb(158,206,235);
	border-radius:2px;
	color: white;
	background-color: #002147;
	font-size: 25px;
	font-variant: small-caps;
	padding: 6px;
}

h3{color: #002147;
	font-size: 22px;
	text-indent: 30px
}

#education{
	text-align: left;
	font-size: 20px;
	width: 80%;
	line-height: 1.5;
	text-indent: 10px;
}

#education td{
	padding: 2px;
	vertical-align: top;
}

summary{
	cursor: pointer;
	line-height: 1.5;
}

summary:hover{
	opacity: 0.66;
}

details{
	font-size: 20px;
	padding: 6px;
	line-height: 1.2;
}

/* .details p are used to select publications's abstract and URL*/
details p{
	font-size: 19px;
	background-color: rgba(0,33,71,0.12);
	padding: 8px;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 12px;
	text-align: left;
}


a.publication_link:link, a:visited {
	background-color: #002147;
	color: white;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #002147;
	border-top-right-radius: 9px;
	border-bottom-left-radius: 9px;
	display: inline-block;
}

a.publication_link:hover,a.publication_link:active {
	background-color: white;
	color: #002147;
}