*{
	font-family: Georgia, "Times New Roman";
}

h1{
	color: #002147;
	font-size: 60px;
	font-variant: small-caps;
}

p{
	font-size: 20px;
}

h2{
	border-left: 10px solid rgb(158,206,235);
	border-radius:2px;
	color: white;
	background-color: #002147;
	font-size: 25px;
	font-variant: small-caps;
	padding: 6px;
}

h3{color: #002147;
}

#t01{
	text-align: left;
	font-size: 20px;
	width: 60%;
}

details{
	font-size: 20px;
	padding: 6px;
	line-height: 1.2;
}

/* .details are used for publications's abstract and URL*/
.details{
	font-size: 19px;
	background-color: rgba(0,33,71,0.12);
	padding: 8px;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 12px;
	text-align: justify;
}